extends ../layouts/default

block head
  title Avatar Trader

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Find The Perfect Match
    p.lead
      | In Three Easy Steps...
      div.clearfix
  div.row
    div.col-sm-2
    div.col-sm-3
      //div.panel.panel-default
        //div.panel-body
      h3 One - Appraisal
      p Use our exclusive patent pending algorthm to calculate the exact value of your character.
      //a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-2
      //div.panel.panel-default
        //div.panel-body
      h3 Two - Search
      p Find the perfect avatar to trade.
        //a.btn.btn-default.btn-block(href='/signup/') Learn More
    div.col-sm-3
      //div.panel.panel-default
        //div.panel-body
      h3 Three - Trade
      p Contact your trading partner and execute the transaction using any method you want.
          //a.btn.btn-default.btn-block(href='/contact/') Learn More
    div.col-sm-2

  div.jumbotron
    div
      a.btn.btn-primary.btn-lg(href='/appraisal') Appraise My Avatar
      | &nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;
      a.btn.btn-warning.btn-lg(href='/browse') Find My Next Avatar
